version: '3.8'

services:
  postgres:
    image: postgis/postgis:14-3.2
    container_name: vols_gis_db
    environment:
      POSTGRES_DB: vols_gis
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
